/* line 5, /Users/takuma7/Dropbox/code/junctionAsia2016/pepperServer/app/assets/stylesheets/home.scss */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* line 11, /Users/takuma7/Dropbox/code/junctionAsia2016/pepperServer/app/assets/stylesheets/home.scss */
#map-div {
  height: 90%;
}

/* line 15, /Users/takuma7/Dropbox/code/junctionAsia2016/pepperServer/app/assets/stylesheets/home.scss */
.tabs {
  background: black;
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: center;
  font-size: 30pt;
  border-top: 1px solid #333;
  margin: 0;
  padding: 0;
}
/* line 26, /Users/takuma7/Dropbox/code/junctionAsia2016/pepperServer/app/assets/stylesheets/home.scss */
.tabs ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 0;
  padding-left: 0;
}
/* line 32, /Users/takuma7/Dropbox/code/junctionAsia2016/pepperServer/app/assets/stylesheets/home.scss */
.tabs ul li {
  display: inline-block;
  width: 2em;
}
/* line 35, /Users/takuma7/Dropbox/code/junctionAsia2016/pepperServer/app/assets/stylesheets/home.scss */
.tabs ul li a {
  color: white;
}
/* line 38, /Users/takuma7/Dropbox/code/junctionAsia2016/pepperServer/app/assets/stylesheets/home.scss */
.tabs ul li.active {
  background: #333;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

