// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body{
  margin: 0;
  padding: 0;
  height: 100%;
}

#map-div {
  height: 90%;
}

.tabs {
  // height: 2em;
  background: black;
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: center;
  font-size: 30pt;
  border-top: 1px solid #333;
  margin: 0;
  padding: 0;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 0;
    padding-left: 0;
    li {
      display: inline-block;
      width: 2em;
      a {
        color: white;
      }
      &.active {
        background: #333;
      }
    }
  }
}
