<!DOCTYPE html>
<html>
<head>
  <title>PepperServer</title>
  <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <%= javascript_include_tag 'application' %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-aNUYGqSUL9wG/vP7+cWZ5QOM4gsQou3sBfWRr/8S3R1Lv0rysEmnwsRKMbhiQX/O" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/darkly/bootstrap.min.css" rel="stylesheet" integrity="sha384-kVo/Eh0sv7ZdiwZK32nRsp1FrDT3sLRLx3zVpSSTI9UdO5H02LJNLBg5F1gwvKg0" crossorigin="anonymous">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<nav class="tabs">
    <ul class="tabs-list">
      <li class="<%= 'active' if action_name == 'index' %>"><a href="/"><i class="fa fa-map-marker"></i></a></li>
      <li class="<%= 'active' if action_name == 'pepper_nearby' %>"><a href="/pepper_nearby"><i class="fa fa-female"></i></a></li>
    </ul>
</nav>

</body>
</html>
